@namespace RazorClassLibrary.Components

<h3>Embedded Component</h3>

<div class="my-component">
    This component is defined in the <strong>RazorClassLibrary</strong> library.
    <br />
    This component is nested in a folder structure. The key to all this is added the "@@namespace" tag.
    <br />
    <a href="https://localhost:7127">Go To Portal Home</a>
    <br />
</div>

@code {

}
