@page "/"
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br/>
<a href="https://localhost:7237">BlazorApp1</a>
<br />
<a href="https://localhost:7002">BlazorApp2</a>
<br />
<a href="https://localhost:7195">AngularApp1</a>
<br />
<div style="border: 1px solid red; padding: 5px; border-radius: 4px; margin: 10px;">
    <RazorClassLibrary.Component1></RazorClassLibrary.Component1>
</div>
<div style="border: 1px solid red; padding: 5px; border-radius: 4px; margin: 10px;">
<RazorClassLibrary.Components.RoutableComponent></RazorClassLibrary.Components.RoutableComponent>
</div>