@namespace RazorClassLibrary
<div class="my-component">
    This component is defined in the <strong>RazorClassLibrary</strong> library.
    <br />
    This could be a persistent MENU that is created once and used in ALL projects.
    <br />
    <a href="https://localhost:7127">Go To Portal Home</a>
    <br />
</div>
